/*
* Common
*/

$ft = "Microsoft Yahei","微软雅黑","Hiragino Sans GB","宋体",Tahoma,Arial,Helvetica,STHeiti
$fs = 1rem


$full = 100%
$w7 = 70%
$w3 = 30%

$bg = #eee
$gray = #828282
$gray1 = #999
$wt = #fff
$priceclr = #ff6766

$greyb1 = 1px solid #ddd
$redb1 = 1px solid #ff6766

/*
* GoodsList
*/
$giw = 25%
$imgw = 18rem
$imgh = 18rem


/*
* GoodsView
*/

$goods-title-fs = 1.75rem

$priceft = Georgia, Times, "Times New Roman", serif
$pricefs = 2rem